# Chapter - 2: Descriptive Analytics

Introduces the concept of DataFrame and working with DataFrames such as selecting, filtering, grouping, joining, etc. Also introduces statistical plots such as histogram, distribution plot, scatter plot, heatmap and so on and how to derive insights from these plots.

In [1]:
import pandas as pd

In [2]:
ipl_auction_df = pd.read_csv('Data/IPL IMB381IPL2013.csv')

In [4]:
pd.set_option('display.max_columns', 7)

In [5]:
ipl_auction_df.head(5)

   Sl.NO.   PLAYER NAME  AGE  ... AUCTION YEAR BASE PRICE SOLD PRICE
0       1   Abdulla, YA    2  ...         2009      50000      50000
1       2  Abdur Razzak    2  ...         2008      50000      50000
2       3   Agarkar, AB    2  ...         2008     200000     350000
3       4     Ashwin, R    1  ...         2011     100000     850000
4       5  Badrinath, S    2  ...         2011     100000     800000

[5 rows x 26 columns]

In [6]:
list(ipl_auction_df.columns)

['Sl.NO.',
 'PLAYER NAME',
 'AGE',
 'COUNTRY',
 'TEAM',
 'PLAYING ROLE',
 'T-RUNS',
 'T-WKTS',
 'ODI-RUNS-S',
 'ODI-SR-B',
 'ODI-WKTS',
 'ODI-SR-BL',
 'CAPTAINCY EXP',
 'RUNS-S',
 'HS',
 'AVE',
 'SR-B',
 'SIXERS',
 'RUNS-C',
 'WKTS',
 'AVE-BL',
 'ECON',
 'SR-BL',
 'AUCTION YEAR',
 'BASE PRICE',
 'SOLD PRICE']